<div class="editable_form_placeholder">
	{% if editable %}
		<input class="all" type="text" onFocus="showFormByElement(this);" value="{{endpoint}}">
	{% else %}
		<a class="all" href="#" onClick="showFormByElement( this ); return false;">
			{{endpoint}}
		</a>
	{% endif %} 
	<div class="more_inputs">
		<label>Endpoint (not saved yet)</label><input type="text" class="label focus" name="endpoint-endpoint" value="{{endpoint}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.endpoint }}</span></span><br />
		<input type="button" onClick="saveFormByElement( this );" value="OK">
		<input type="button" onClick="cancelFormByElement( this );" value="Cancel">
	</div>
</div>