{% load joinNonEmpty %}
{% load addToList %}
<div class="editable_form_placeholder">
	{% if editable %}
		<input class="all" type="text" onFocus="showFormByElement(this);" value="{{ "[]"|addToList:p_value|addToList:ratio_type|addToList:ratio|joinNonEmpty:", "}}">
	{% else %}
		<a class="all" href="#" onClick="showFormByElement( this ); return false;">
			{{ "[]"|addToList:p_value|addToList:ratio_type|addToList:ratio|joinNonEmpty:", "}}
		</a>
	{% endif %} 
	<div class="more_inputs">
		<div class="autofill" rel="statistical_model">
			<label>Statistical model<span class='requiredLabel'></span></label><input type="text" class="focus" name="statistical_model" value="{{statistical_model}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.statistical_model }}</span></span><br />
		</div>
		<label>P value</label><input type="text" class="label" name="p_value" value="{{p_value}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.p_value }}</span></span><br />
		<label>Ratio type</label><input type="text" class="label" name="ratio_type" value="{{ratio_type}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.ratio_type }}</span></span><br />
		<label>Ratio value</label><input type="text" class="label" name="ratio" value="{{ratio}}"><br />
		<label>CI lower</label><input type="text" class="" name="ci_lower" value="{{ci_lower}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.ci_lower }}</span></span><br />
		<label>CI upper</label><input type="text" class="" name="ci_upper" value="{{ci_upper}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.ci_upper }}</span></span><br />
		<label>Significant associations</label><input type="text" class="" name="significant_associations" value="{{significant_associations}}"><span class="tooltip"><img src="{{ STATIC_URL }}images/icons/help.png" alt="help"/><span>{{ mouseover_text.significant_associations }}</span></span><br />
		<input type="button" onClick="saveFormByElement( this );" value="OK">
		<input type="button" onClick="cancelFormByElement( this );" value="Cancel">
	</div>

</div>