<div id="studyInformation" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <table>
        <tbody>
            <tr class="study formfield study_id">
                <td class="formspacer"></td>
                <td><span class="required"><label for="id_study-0-study_id">Study id</label></span></td>
                <td><input type="text" maxlength="50" name="study-0-study_id" id="id_study-0-study_id" class="required"></td>
                <td></td>
            </tr>
            <tr class="study formfield pubmed_id">
                <td class="formspacer"></td>
                <td><span class="required"><label for="id_study-0-pubmed_id">Pubmed id</label></span></td>
                <td><input type="text" id="id_study-0-pubmed_id" name="study-0-pubmed_id" class="required"></td>
                <td></td>
            </tr>
            <tr class="study formfield year_of_publication">
                <td class="formspacer"></td>
                <td><span class="required"><label for="id_study-0-year_of_publication">Year of publication</label></span></td>
                <td><div rel="year_of_publication" class="autofill"><input type="text" maxlength="4" name="study-0-year_of_publication" id="id_study-0-year_of_publication" class="ui-autocomplete-input " autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div></td>
                <td></td>
            </tr>
            <tr class="study formfield authors">
                <td class="formspacer"></td>
                <td><span class="required"><label for="id_study-0-authors">Authors</label></span></td>
                <td><input type="text" maxlength="200" name="study-0-authors" id="id_study-0-authors" class="required"></td>
                <td></td>
            </tr>
            <tr class="study formfield micronutrient">
                <td class="formspacer"></td>
                <td><label for="id_study-0-micronutrient">Micronutrient</label></td>
                <td><div rel="micronutrient" class="autofill"><input type="text" maxlength="200" name="study-0-micronutrient" id="id_study-0-micronutrient" class="ui-autocomplete-input" autocomplete="off" role="textbox"     aria-autocomplete="list" aria-haspopup="true"></div></td>
                <td></td>
            </tr>            
            <tr class="study formfield population">
                <td class="formspacer"></td>
                <td><label for="id_study-0-population">Population</label></td>
                <td><input type="text" maxlength="200" name="study-0-population" id="id_study-0-population"></td>
                <td></td>
            </tr>
            <tr class="study formfield gender">
                <td class="formspacer"></td>
                <td><label for="id_study-0-gender">Gender</label></td>
                <td><select id="id_study-0-gender" name="study-0-gender"><option selected="selected" value="">---------</option><option value="F">Female</option><option value="M">Male</option><option value="X">Mixed</option><option value="U"Unknown</option></select></td>
                <td></td>
            </tr>
            <tr class="study formfield endpoint">
                <td class="formspacer"></td>
                <td><label for="id_study-0-endpoint">Endpoint</label></td>
                <td><div rel="endpoint" class="autofill"><input type="text" maxlength="200" name="study-0-endpoint" id="id_study-0-endpoint" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div></td>
                <td></td>
            </tr>
            <tr class="study formfield paper_title">
                <td class="formspacer"></td>
                <td><span class="required"><label for="id_study-0-paper_title">Paper title</label></span></td>
                <td><input type="text" maxlength="200" name="study-0-paper_title" id="id_study-0-paper_title" class="required"></td>
                <td></td>
            </tr>
            <tr class="study formfield journal_title">
                <td class="formspacer"></td>
                <td><label for="id_study-0-journal_title">Journal title</label></td>
                <td><div rel="journal_title" class="autofill"><input type="text" maxlength="200" name="study-0-journal_title" id="id_study-0-journal_title" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div></td>
                <td></td>
            </tr>
            <tr class="study formfield study_type">
                <td class="formspacer"></td>
                <td><label for="id_study-0-study_type">Study type</label></td>
                <td><div rel="study_type" class="autofill"><input type="text" maxlength="200" name="study-0-study_type" id="id_study-0-study_type" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div></td>
                <td></td>
            </tr>
            <tr class="study formfield number_of_participants">
                <td class="formspacer"></td>
                <td><label for="id_study-0-number_of_participants">Number of participants</label></td>
                <td><input type="text" id="id_study-0-number_of_participants" name="study-0-number_of_participants"></td>
                <td></td>
            </tr>
            <tr class="study formfield comments">
                <td class="formspacer"></td>
                <td><label for="id_study-0-comments">Comments</label></td>
                <td><input type="text" maxlength="500" name="study-0-comments" id="id_study-0-comments"></td>
                <td></td>
            </tr>
            <tr class="study formfield environmental_factor">
                <td class="formspacer"></td>
                <td><label for="id_study-0-environmental_factor">Environmental factor</label></td>
                <td><div rel="environmental_factor" class="autofill"><input type="text" maxlength="200" name="study-0-environmental_factor" id="id_study-0-environmental_factor" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>