{% extends "base.html" %}
{% block studyMenu %}
    <ul class="menu">
        <!-- <li><a href="/studies/">List Studies</a></li> -->
        <li><a href="/studies/create/">Create study</a></li>

     </ul>
{% endblock studyMenu %}

{% block body %}
    {% if message %}
        <div  {% if messageType == "positive" %}
                class = "positiveMessage"
            {% else %}
                class = "negativeMessage"
            {% endif %}
        > {{ message }}
        </div>
    {% endif %}
    <div id="studylist" class="contentItem">
        {% block studyBlock %}
        {% endblock studyBlock %}
    </div>
{% endblock body %}