{% extends "domain_views/study_specific.html" %}

{% block studyBlock %}
    {% for form in formset %}
        <form method="post" action="/studies/update/{{ form.id.value }}">{% csrf_token %}
            {{ formset.management_form }}
            {% if form.study_id.value != '' %}
                {{ form.study_id.value }}
            {% endif %}
            <table>
                {% for field in form %}
                    {% if not field.name == 'id' %}
                        {% if field.errors %}
                            <tr class = "error {{ field.name }}">
                            <td class= "error"></td>
                        {% else %}
                            <tr class = "formfield {{ field.name }}">
                            <td class= "formspacer"></td>
                        {% endif %}
                        <td>{{ field.label_tag }}</td> 
                        <td>{{ field }}</td>
                        <td>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{ error|escape }} 
                                {% endfor %}
                            {% endif %}
                        </td>
                        </tr>
                    {% else %}  
                        <td style="display:none;">{{ field.label_tag }}</td> 
                        <td style="display:none;">{{ field }}</td> 
                    {% endif %}                
                {% endfor %}
            </table>
            <input type="submit" value="Submit" />
        </form>
        <span class="button">
            <a href="/studies/remove/{{ form.id.value }}">
                <img alt="Remove" src="{{ STATIC_URL }}images/icons/delete.png">
                Remove this study.
            </a>
        </span>
        <p> {{ form.error_dict }} </p>
    {% endfor %}
{% endblock studyBlock %}