{% extends "base.html" %}z

{% block extraScripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/study_editing.js"></script>
  <script type="text/javascript">
    {% for form in formsetInteraction %}
        interactCache[{{forloop.counter|add:"-1"}}] = {};
        {% for gf in formsetGenotype %}
            {% if gf.id.value == form.genotypes.value.0 %}
                interactCache[{{forloop.parentloop.counter|add:"-1"}}]["genotypeNrs"] = {{forloop.counter|add:"-1"}};
            {% endif %} 
        {% endfor %}
        {% for pf in formsetPhenotype %}
            {% if pf.id.value == form.phenotypes.value.0 %}
                interactCache[{{forloop.parentloop.counter|add:"-1"}}]["phenotypeNrs"] = {{forloop.counter|add:"-1"}};
            {% endif %} 
        {% endfor %}
        {% for p in formsetPanel %}
            {% if p.id.value == form.panels.value.0 %}
                interactCache[{{forloop.parentloop.counter|add:"-1"}}]["panelNrs"] = {{forloop.counter|add:"-1"}};
            {% endif %} 
        {% endfor %}
    {% endfor %}
    function switchToTab(tabNum){
        // Counting starts at zero.
        var $tabs = $('#pagetabs').tabs();
        $tabs.tabs('select', tabNum);        
    };
  </script>
  <STYLE type="text/css">
    table #interactionTable {
      border: #006dba solid 1px;

    }
    caption #interactionTable {
      font-size: 16pt;
    }
    td #interactionTable {
      border-width: 1px;
      border-style: dotted;
      padding: 10px;
    }
    th #interactionTable {
      border-bottom: black dashed 1px;
      border-left: black dashed 1px;
      padding: 10px;
    }
    a #interactionTable {
      background-color: yellow;
      text-decoration: none;
    }
  </STYLE>
{% endblock %}

{% block body %}
    {% if interactionValues %}
        {{ interactionValues }}
    {% endif %}
    <div id="studylist">
        {% for form in formset %}
            {% if form.id.value == null or form.id.value == '' or form.id.value == None %}
                <form name="study_editing" method="post" action="/studies/create/">
            {% else %}
                <form name="study_editing" method="post" action="/studies/update/{{ form.id.value }}">
            {% endif %}
          
           
            {% csrf_token %}
            {{ formset.management_form }}
            {{ formsetGenotype.management_form }}
            {% for hid in form.hidden_fields %} {{hid}} {% endfor %}
            
            <div id="contextmenu">
                <div class="header roundedcorners">Control panel</div>
                <ul>
                    <li><a href="#" onClick="submitData(); return false;">Submit Data</a></li>
                    <li><a href="#tabs-2" onClick="switchToTab(1); addRow('interaction'); return false;">Add an interaction</a></li>
                    <li><a href="#tabs-2" onClick="switchToTab(1); addRow('genotype'); return false;">Add a genotype</a></li>
                    <li><a href="#tabs-2" onClick="switchToTab(1); addRow('phenotype'); return false;">Add a phenotype</a></li>
                    <li><a href="#tabs-2" onClick="switchToTab(1); addRow('panel'); return false;">Add a panel</a></li>
                    {% if not form.id.value == null and not form.id.value == '' and not form.id.value == None %}
                    <li><a class="interactionTable" href="/studies/remove/{{ form.id.value }}">
                            <img alt="Remove" src="{{ STATIC_URL }}images/icons/delete.png">
                            Remove this study.
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>          
            
            <div id="pagetabs" class="withcontextmenu">
                <ul>
                    <li><a href="#tabs-1">Study information</a></li>
                    <li><a href="#tabs-2">Study related items</a></li>
                </ul>
                <div id="tabs-1">
                    <table>
                        {% for field in form %}
                            {% if not field.name == 'id' %}
                                {% if field.errors %}
                                    <tr class = "error {{ field.name }}">
                                    <td class= "error"></td>
                                {% else %}
                                    <tr class = "formfield {{ field.name }}">
                                    <td class= "formspacer"></td>
                                {% endif %}
                                    <td>{{ field.label_tag }}</td> 
                                    <td>{{ field }}</td>
                                    <td>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error|escape }} 
                                        {% endfor %}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endif %}        
                        {% endfor %}
                    </table>
                </div>
                <div id="tabs-2">
                    <table>
                        <thead>
                            <caption>Interaction</caption>
                            <tr id="interaction_row">
                                <th id="genotype-gene">Genotype_name</th>
                                <th id="genotype-snp_ref">SNP_ref</th>
                                <th id="phenotype-phenotype_name">Phenotype_name</th>
                                <th id="panel-panel_description">Panel description</th>
                                <th id="ratio">Ratio</th>
                            </tr>
                        </thead>
                        <tbody id="interaction">
                            {% for form in formsetInteraction %}
                                <tr>
                                    {% if not form.genotypes.value.0 == None %}
                                        {% for gf in formsetGenotype %}
                                            {% if gf.id.value == form.genotypes.value.0 %}
                                                <td>{{gf.gene.value}}</td>
                                                <td>{{gf.snp_ref.value}}</td>
                                            {% endif %} 
                                        {% endfor %}
                                    {% else %}
                                        {% if interactionValues %}
                                            {% for item, value in interactionValues.items %}
                                                {% ifequal forloop.parentloop.counter forloop.counter %}
                                                    <td>{{value.gene}}</td>
                                                    <td>{{value.snp_ref}}</td>
                                                {% endifequal %}
                                            {% endfor %}
                                        {% else %}
                                            <td></td>
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                    {% if not form.phenotypes.value.0 == None %}
                                        {% for pf in formsetPhenotype %}
                                            {% if pf.id.value == form.phenotypes.value.0 %}
                                                <td>{{pf.phenotype_name.value}}</td>
                                            {% endif %} 
                                        {% endfor %}   
                                    {% else %}
                                        {% if interactionValues %}
                                            {% for item, value in interactionValues.items %}
                                                {% ifequal forloop.parentloop.counter forloop.counter %}
                                                    <td>{{value.phenotype_name}}</td>
                                                {% endifequal %}
                                            {% endfor %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}     
                                    {% if not form.panels.value.0 == None %}                        
                                        {% for p in formsetPanel %}
                                            {% if p.id.value == form.panels.value.0 %}
                                                <td>{{p.panel_description.value}}</td>
                                            {% endif %} 
                                        {% endfor %}
                                    {% else %}
                                        {% if interactionValues %}
                                            {% for item, value in interactionValues.items %}
                                                {% ifequal forloop.parentloop.counter forloop.counter %}
                                                    <td>{{value.panel_description}}</td>
                                                {% endifequal %}
                                            {% endfor %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                <td>{% if form.ratio.value %}{{ form.ratio.value }}{% endif %}</td>
                                <td>
                                    <a onclick="editRow('interaction',this); return false;" href="#">edit</a>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="#" onClick="addRow('interaction'); return false;">+</a>

                    <table>
                        <thead>
                            <caption>Genotype</caption>
                            <tr id="genotype_row">
                                <th id="gene">Name</th>
                                <th id="snp_ref">SNP_ref</th>
                                <th id="snp_variant">SNP_variant</th>
                                <th id="mutation">Mutation</th>
                            </tr>
                        </thead>
                        <tbody id="genotype">
                            {% for form in formsetGenotype %}
                                <tr>
                                    <td>{% if form.gene.value %}{{ form.gene.value }}{% endif %}</td>
                                    <td>{% if form.snp_ref.value %}{{ form.snp_ref.value }}{% endif %}</td>
                                    <td>{% if form.snp_variant.value %}{{ form.snp_variant.value }}{% endif %}</td>
                                    <td>{% if form.mutation.value %}{{ form.mutation.value }}{% endif %}</td>
                                    <td>
                                        <a onclick="editRow('genotype',this); return false;" href="#">edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="#" onClick="addRow('genotype'); return false;">+</a>

                    <table>
                        <thead>
                            <caption>Phenotype</caption>
                            <tr id="phenotype_row">
                                <th id="phenotype_name">Name</th>
                                <th id="environmental_factor">Environmental_Factor</th>
                            </tr>
                        </thead>
                        <tbody id="phenotype">
                            {% for form in formsetPhenotype %}
                                <tr>
                                    <td>{% if form.phenotype_name.value %}{{ form.phenotype_name.value }}{% endif %}</td>
                                    <td>{% if form.environmental_factor.value %}{{ form.environmental_factor.value }}{% endif %}</td>
                                    <td>
                                        <a onclick="editRow('phenotype',this); return false;" href="#">edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="#" onClick="addRow('phenotype'); return false;">+</a>

                    <table>
                        <thead>
                            <caption>Panel</caption>
                            <tr id="panel_row">
                                <th id="panel_description">Panel description</th>
                                <th id="number_of_participants">No_of_participants</th>
                                <th id="gender">Gender</th>
                            </tr>
                        </thead>
                        <tbody id="panel">
                            {% for form in formsetPanel %}
                                <tr>
                                    <td>{% if form.panel_description.value %}{{ form.panel_description.value }}{% endif %}</td>
                                    <td>{% if form.number_of_participants.value %}{{ form.number_of_participants.value }}{% endif %}</td>
                                    <td>{% if form.gender.value %}{{ form.gender.value }}{% endif %}</td>
                                    <td>
                                        <a onclick="editRow('panel',this); return false;" href="#">edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="#" onClick="addRow('panel'); return false;">+</a>
                </div>
            </div>
          {% endfor %}
        </form>
    </div>
{% endblock body %}