<!doctype html>
<html>
	<head>
        {% block head %}
            <title>Variant template</title>
            <link href="{{ STATIC_URL }}css/variant.css" type="text/css"
                rel="stylesheet" />
        {% endblock %}
        {% block extraScripts %}{% endblock %}
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1 id="logo">
					<img src="{{ STATIC_URL }}images/eurreca_klein.png">
				</h1>
				<form id="login">
					<input class="roundedcorners" type="text" placeholder="name" name="name">
					<input class="roundedcorners" type="password" placeholder="password" name="password">
					<input class="button" type="submit" value="login">
				</form>
				<div class="clear"></div>
			</div>
			<div id="mainmenu">
				<form id="searchform" name="input" action="/search/" method="post">
					<input class="roundedcorners" type="text" placeholder="search" name="search_terms">
					<input class="button" type="submit" value="search">
				</form>
				<ul class="menu">
					<li class="home"><a href="#"><img src="{{ STATIC_URL }}images/home_klein.png"></a></li>
					<li><a href="/studies/">Studies</a></li>
					<li class="active"><a href="/studies/create/">Add new study</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<div id="content">{% block body %}{% endblock body %}
                <div class="clear">
                </div>
            </div>
			<div id="footer">
				<a href="http://www.thehyve.nl" target="_blank"><img src="{{ STATIC_URL }}images/thehyve.png" align="left"></a>
				<img src="{{ STATIC_URL }}images/eurreca_onder.png" align="right">
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>
