<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {% block head %}
            <title>{% block pageTitle %}{% endblock pageTitle %}</title>
            <link rel="stylesheet" type="text/css" 
                href="{{ STATIC_URL }}css/main.css" />
        {% endblock %}
        {% block extraScripts %}
        {% endblock %}
    </head>
    <body>
        <div class="content_header_block">
            {% block header %}
                <div class="eurreca_header">
                    <a href="#">
                        <img alt="Eurreca" src="{{ STATIC_URL }}images/eurreca_logo.png">
                    </a>
                </div>
            {% endblock header %}
            <div class="app_header_block">
                {% block bodyHeader %}
                    <div class="user_status">
                        <div class="user_status_box">
                        {% if user.is_authenticated %}
                            Welcome {{ user }}! You are logged in. <a href="{% url logout %}">Click here to logout</a>.
                        {% else %}
                            Welcome. You are not logged in. <a href="{% url login %}">Click here to login</a>.
                        {% endif %}
                        </div>
                    </div>
                    {% block menu %}
                        <div class="vertical_menu">
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/search/">Search</a></li>
                                <li><a href="/advanced_search/">Advanced search</a></li>
                                <li><a href="/studies/">Studies</a></li>
                                <li><a href="/login/">Login</a></li>
                                <li><a href="/logout/">Logout</a></li>
                             </ul>
                         </div>
                    {% endblock menu %}
                {% endblock bodyHeader %}
            </div>
            {% block studyMenu %}{% endblock studyMenu %}
        </div> 
        <div class="content">
            {% block body %}
                Content should be placed here.
            {% endblock body %}
        </div>
        <div class="footers">
            {% block footer %}
                <div class="thehyve">
                    <a href="http://www.thehyve.nl">
                        Developed by<br/>
                        <img alt="The Hyve" src="{{ STATIC_URL }}images/thehyve_logo.png">
                    </a>
                </div>
            {% endblock footer %}
        </div>
    </body>
</html>