{% extends "base.html" %}

{% block body %}
    <div>
        <p>
            <h3>Welcome to the EURRECA Variant database</h3>
            The Variant database is an online repository that stores information on genotype, phenotype and micronutrient interactions.
        </p>
        <p>You can use the database to
            <ul>
                <li>store studies that describe genotype, phenotype, micronutrient interaction data</li>
                <li>search for known micronutrient-phenotype, interactions</li>
                <li>explore which biological processes micronutrients are involved in</li>
            </ul>
        </p>
    </div>
    <br/>
{% endblock body %}
