{% load contains %}
{% spaceless %}
{% include 'search_result2_geno_pheno_panel.html' %}
{% include 'table2_value.html' with field=form.statistical_model %}
{% include 'table2_value.html' with field=form.p_value %}
{% include 'table2_value.html' with field=form.p_value_for_trend %}
{% include 'table2_value.html' with field=form.ratio_type %}
{% include 'table2_value.html' with field=form.ratio %}
{% include 'table2_value.html' with field=form.ci_lower %}
{% include 'table2_value.html' with field=form.ci_upper %}
{% include 'table2_value.html' with field=form.significant_associations %}
{% endspaceless %}