{% load contains %}
{% load truncatechars %}
{% load repeat %}
{% spaceless %}
{% if form.id.value|containedin:study_id_to_interaction_id_mapping.keys %}
    {% for id, ids in study_id_to_interaction_id_mapping.items %}
        {% if form.id.value == id and not ids|length == '' %}
            {% for form2 in formSets.interaction %}
                {% if id == form2.study.value %}
                    <tr class="{{ class }}">
                        <td class="button">
                            <a href="/studies/view/{{ form.id.value }}">
                                {% if form.study_id.value or form.paper_title.value %}
                                    {% if form.study_id.value %}
                                        ({{ form.study_id.value }})
                                    {% endif %}
                                    {% if form.paper_title.value %}
                                        {{ form.paper_title.value|truncatewords:4 }}
                                    {% endif %}
                                {% else %}
                                    Study
                                {% endif %}
                            </a>
                        </td>
						{% include 'table2_value.html' with field=form.micronutrient %}
                        
                        {% include 'search_result2_interaction_values.html' with form=form2 title="Interaction" class="contentItem" filtered="True" %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% else %}
    {# Study without related interactions #}
    <tr class="{{ class }}">
        <td class="button">
            <a href="/studies/view/{{ form.id.value }}">
                {% if form.study_id.value or form.paper_title.value %}
                    {% if form.study_id.value %}
                        ({{ form.study_id.value }})
                    {% endif %}
                    {% if form.paper_title.value %}
                        {{ form.paper_title.value|truncatewords:4 }}
                    {% endif %}
                {% else %}
                    Study
                {% endif %}
            </a>
        </td>
		{% include 'table2_value.html' with field=form.micronutrient %}
        
        {{ "<td></td>"|repeat:8|safe }}
    </tr>
    {% comment %}
        The following will list genotypes, phenotypes and panels that are 
        related to this study, but are not related to interactions
    {% endcomment %}
    {% for form2 in formSets.genotype %}
        {% if id == form2.study.value %}
            <tr class="{{ class }}">
                <td class="button">
                    <a href="/studies/view/{{ form.id.value }}">
                        {% if form.study_id.value or form.paper_title.value %}
                            {% if form.study_id.value %}
                                ({{ form.study_id.value }})
                            {% endif %}
                            {% if form.paper_title.value %}
                                {{ form.paper_title.value|truncatewords:4 }}
                            {% endif %}
                        {% else %}
                            Study
                        {% endif %}
                    </a>
                </td>
                {% include 'search_result2_genotype_values.html' with form=form2 title="Genotype" class="contentItem" filtered="True" %}
            </tr>
        {% endif %}
    {% endfor %}
    {% for form2 in formSets.phenotype %}
        {% if id == form2.study.value %}
            <tr class="{{ class }}">
                <td class="button">
                    <a href="/studies/view/{{ form.id.value }}">
                        {% if form.study_id.value or form.paper_title.value %}
                            {% if form.study_id.value %}
                                ({{ form.study_id.value }})
                            {% endif %}
                            {% if form.paper_title.value %}
                                {{ form.paper_title.value|truncatewords:4 }}
                            {% endif %}
                        {% else %}
                            Study
                        {% endif %}
                    </a>
                </td>
                {% include 'search_result2_phenotype_values.html' with form=form2 title="Phenotype" class="contentItem" filtered="True" %}
            </tr>
        {% endif %}
    {% endfor %}
    {% for form2 in formSets.panel %}
        {% if id == form2.study.value %}
            <tr class="{{ class }}">
                <td class="button">
                    <a href="/studies/view/{{ form.id.value }}">
                        {% if form.study_id.value or form.paper_title.value %}
                            {% if form.study_id.value %}
                                ({{ form.study_id.value }})
                            {% endif %}
                            {% if form.paper_title.value %}
                                {{ form.paper_title.value|truncatewords:4 }}
                            {% endif %}
                        {% else %}
                            Study
                        {% endif %}
                    </a>
                </td>
                {% include 'search_result2_panel_values.html' with form=form2 title="Panel" class="contentItem" filtered="True" %}
            </tr>
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}