{% extends "base.html" %}
{% load contains %}
{% load getsearchresultsize %}

{% block extraScripts %}
    <script type="text/javascript" 
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
    </script>
    <script type="text/javascript" 
        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">
    </script>
    <script type="text/javascript" 
        src="{{ STATIC_URL }}js/jquery.ui.autocomplete.js">
    </script>
    {% if advancedSearch %}
        <script type='text/javascript'>
            $(function() {
                var availableFields = [
                    "Study id",
                    "Pubmed id",
                    "Year of publication",
                    "Micronutrient",
                    "Gene",
                    "SNP ref",
                    "Phenotype name",
                    "SNP variant"
                ];
                $( ".fields" ).autocomplete({
                    source: availableFields
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if advancedSearch %}
        <form name="input" action="/search/" method="post">
            <input name="search_type"  type="hidden" value="advanced"/>
            <div class="ui-widget">
                <label for="fields">Field: </label>
                <input class="fields" name="search_field_0" 
                    {% if searchFields.0 %} 
                        value="{{searchFields.0}}" 
                    {% endif %}
                />
                <label for="value">Value: </label>
                <input class="value" name="search_term_0" 
                    {% if searchTerms.0 %} 
                        value="{{searchTerms.0}}" 
                    {% endif %}
                />
            </div>
            or
            <div class="ui-widget">
                <label for="fields">Field: </label>
                <input class="fields" name="search_field_1" 
                    {% if searchFields.1 %} 
                        value="{{searchFields.1}}" 
                    {% endif %}
                />
                <label for="value">Value: </label>
                <input class="value" name="search_term_1" 
                    {% if searchTerms.1 %} 
                        value="{{searchTerms.1}}" 
                    {% endif %}
                />
            </div>
            or
            <div class="ui-widget">
                <label for="fields">Field: </label>
                    <input class="fields" name="search_field_2" 
                        {% if searchFields.2 %} 
                            value="{{searchFields.2}}" 
                        {% endif %}
                    />
                <label for="value">Value: </label>
                <input class="value" name="search_term_2" 
                    {% if searchTerms.2 %} 
                        value="{{searchTerms.2}}" 
                    {% endif %}
                />
            </div>
            <input type="submit" value="search" />
        </form>
    {% else %}
        {% if formSets %}
            <table>
                {% include 'table2_titles.html' with title="Interaction" %}  
                {% for form in formSets.study %}
                    {% include 'search_result2.html' with title="Interaction" class="contentItem" filtered="True" %}
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock body %}