{% extends "base.html" %}
{% load contains %}
{% load getsearchresultsize %}

{% block extraScripts %}
    <script type="text/javascript" 
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
    </script>
    <script type="text/javascript" 
        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">
    </script>
    <script type="text/javascript" 
        src="{{ STATIC_URL }}js/jquery.ui.autocomplete.js">
    </script>
    {% if advancedSearch %}
        <script type='text/javascript'>
            $(function() {
                var availableFields = [
                    "Study id",
                    "Pubmed id",
                    "Year of publication",
                    "Micronutrient",
                    "Gene",
                    "SNP ref",
                    "Phenotype name",
                    "SNP variant"
                ];
                $( ".fields" ).autocomplete({
                    source: availableFields
                });
                $( ".fields" ).each(function() {
                    $(this).autocomplete({
                        source: availableFields
                    })
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if advancedSearch %}
        <form name="input" action="/search/" method="post">
            <input name="search_type"  type="hidden" value="advanced"/>
            <div class="ui-widget">
                <label for="fields">Field: </label>
                <input class="fields" name="search_field_0" 
                    {% if searchFields.0 %} 
                        value="{{searchFields.0}}" 
                    {% endif %}
                />
                <label for="value">Value: </label>
                <input class="value" name="search_term_0" 
                    {% if searchTerms.0 %} 
                        value="{{searchTerms.0}}" 
                    {% endif %}
                />
            </div>
            or
            <div class="ui-widget">
                <label for="fields">Field: </label>
                <input class="fields" name="search_field_1" 
                    {% if searchFields.1 %} 
                        value="{{searchFields.1}}" 
                    {% endif %}
                />
                <label for="value">Value: </label>
                <input class="value" name="search_term_1" 
                    {% if searchTerms.1 %} 
                        value="{{searchTerms.1}}" 
                    {% endif %}
                />
            </div>
            or
            <div class="ui-widget">
                <label for="fields">Field: </label>
                    <input class="fields" name="search_field_2" 
                        {% if searchFields.2 %} 
                            value="{{searchFields.2}}" 
                        {% endif %}
                    />
                <label for="value">Value: </label>
                <input class="value" name="search_term_2" 
                    {% if searchTerms.2 %} 
                        value="{{searchTerms.2}}" 
                    {% endif %}
                />
            </div>
            <input type="submit" value="search" />
        </form>
    {% else %}
        {% comment %}
        This commented out!
        <form name="input" action="/search/" method="post">
            Search: <input type="text" name="search_terms" 
                {% if previousSearchString %} 
                    value="{{previousSearchString}}" 
                {% endif %}
            />
            <input type="submit" value="Submit" />
        </form> 
        End of comment!
        {% endcomment %}
    {% endif %}
    
    {% comment %}
    This commented out!
    {% if searchTerms %}
        <span class="searchTerms">
            The search result is based on 
            the following search term{{ searchTerms|pluralize }}:
            {% for term in searchTerms %}
                '{{ term }}'
                {% if forloop.last %}
                    .
                {% else %}
                    ,
                {% endif %}
            {% endfor %}    
        </span>
    {% endif %}
    End of comment!
    {% endcomment %}
    
    {% if formSets %}
        {% comment %}
        This commented out!
        <span class="resultCounts">
            The search resulted in 
            {% if formSets.study|length == '' %} no studies, {% endif %}
            {% if formSets.study|length == '1' %} 1 study, {% endif %}
            {% if not formSets.study|length == '' and not formSets.study|length == '1' %} 
                    {{ formSets.study|length }} studies, 
            {% endif %}
            {% if formSets.interaction|length == '' %} no {% endif %}
            {{ formSets.interaction|length }} interaction{{ formSets.interaction|pluralize }}, 
            {% if formSets.genotype|length == '' %} no {% endif %}
            {{ formSets.genotype|length }} genotype{{ formSets.genotype|pluralize }}, 
            {% if formSets.phenotype|length == '' %} no {% endif %}
            {{ formSets.phenotype|length }} phenotype{{ formSets.phenotype|pluralize }} and 
            {% if formSets.panel|length == '' %} no {% endif %}
            {{ formSets.panel|length }} panel{{ formSets.panel|pluralize }}.
        </span>
        End of comment!
        {% endcomment %}
        
        <div id="pagetabs">
            <ul>
                <li>
                    <a href="#tabs-0">
                        <img alt="View" 
                            src="{{ STATIC_URL }}images/paper_40x40.png"/>
                        <span>        
                            All items ({{formSets|getsearchresultsize}})
                        </span> 
                    </a>
                </li>
                <li>
                    <a href="#tabs-1">
                        <img alt="View" 
                            src="{{ STATIC_URL }}images/paper_40x40.png"/>
                        <span>        
                            Studies
                            {% if formSets.study|length == '' %}
                                (0)
                            {% else %}
                                ({{formSets.study|length}})
                            {% endif %}
                        </span> 
                    </a>
                </li>
                <li>
                    <a href="#tabs-2">
                        <img alt="View" 
                            src="{{ STATIC_URL }}images/interaction_40x40.png"/>
                        <span>      
                            Interactions
                            {% if formSets.interaction|length == '' %}
                                (0)
                            {% else %}
                                ({{formSets.interaction|length}})
                            {% endif %}
                        </span> 
                    </a>
                </li>
                <li>
                    <a href="#tabs-3">
                        <img alt="View" 
                            src="{{ STATIC_URL }}images/genotype_40x40.png"/>
                        <span>        
                            Genotypes
                            {% if formSets.genotype|length == '' %}
                                (0)
                            {% else %}
                                ({{formSets.genotype|length}})
                            {% endif %}
                        </span> 
                    </a>
                </li>
                <li>
                    <a href="#tabs-4">
                        <img alt="View" 
                            src="{{ STATIC_URL }}images/micronutrient_40x40.png"/>
                        <span>        
                            Phenotypes
                            {% if formSets.phenotype|length == '' %}
                                (0)
                            {% else %}
                                ({{formSets.phenotype|length}})
                            {% endif %}
                        </span> 
                    </a>
                </li>
                <li>
                    <a href="#tabs-5">
                        <img alt="View" 
                            src="{{ STATIC_URL }}images/panel_40x40.png"/>
                        <span>        
                            Panels
                            {% if formSets.panel|length == '' %}
                                (0)
                            {% else %}
                                ({{formSets.panel|length}})
                            {% endif %}
                        </span> 
                    </a>
                </li>
            </ul>
            <div id="tabs-0">
                <ul class="searchResults">
                    {% for form in formSets.study %}
                        {% include 'search_result.html' with title="Study" class="contentItem" filtered="True" %}
                    {% endfor %}
                    {% for form in formSets.interaction %}
                        {% include 'search_result.html' with title="Interaction" class="contentItem" filtered="True" %}
                    {% endfor %}
                    {% for form in formSets.genotype %}
                        {% include 'search_result.html' with title="Genotype" class="contentItem" filtered="True" %}
                    {% endfor %}
                    {% for form in formSets.phenotype %}
                        {% include 'search_result.html' with title="Phenotype" class="contentItem" filtered="True" %}
                    {% endfor %}
                    {% for form in formSets.panel %}
                        {% include 'search_result.html' with title="Panel" class="contentItem" filtered="True" %}
                    {% endfor %}
                <ul>
            </div>
            <div id="tabs-1">
                <ul class="searchResults">
                    {% for form in formSets.study %}
                        {% include 'search_result.html' with title="Study" class="contentItem" filtered="True" %}
                    {% endfor %}
                <ul>
            </div>
            <div id="tabs-2">
                <ul class="searchResults">
                    {% for form in formSets.interaction %}
                        {% include 'search_result.html' with title="Interaction" class="contentItem" filtered="True" %}
                    {% endfor %}
                <ul>
            </div>
            <div id="tabs-3">
                <ul class="searchResults">
                    {% for form in formSets.genotype %}
                        {% include 'search_result.html' with title="Genotype" class="contentItem" filtered="True" %}
                    {% endfor %}
                <ul>      
            </div>
            <div id="tabs-4">
                <ul class="searchResults">
                    {% for form in formSets.phenotype %}
                        {% include 'search_result.html' with title="Phenotype" class="contentItem" filtered="True" %}
                    {% endfor %}
                <ul>          
            </div>
            <div id="tabs-5">
                <ul class="searchResults">
                    {% for form in formSets.panel %}
                        {% include 'search_result.html' with title="Panel" class="contentItem" filtered="True" %}
                    {% endfor %}
                <ul>        
            </div>
    {% endif %}
{% endblock body %}