{% load contains %}

<div class="{{ class }}">
    {% if title and not title == '' %}
        {{ title }}
    {% endif %}
    <table>
        {% for field in form %}
            {% if not title == "Study" and not field.name == 'study' and not field.name == 'id' or not field.name == 'id' %}
                {% if filtered == "True" %} 
                    {% if field.value|containedin:matchedValues %}
                        <tr class = "formfield {{ field.name }}">
                            <!-- <td class= "formspacer"></td> -->
                            <td><b>
                            	{# This is a very ugly construction to change 'endpoint' into 'health outcome'. If you have a better solution, be my guest #}
                            	{% if field.label == 'Endpoint' %}
                            		Health outcome
                            	{% else %}
                            		{{ field.label }}
                            	{% endif %}
                            </b></td> 
                            <td><b>{{ field.value }}</b></td>
                        </tr>
                    {% endif %}     
                {% else %}
                    <tr class = "formfield {{ field.name }}">
                        <!-- <td class= "formspacer"></td> -->
                        <td>
                           	{# This is a very ugly construction to change 'endpoint' into 'health outcome'. If you have a better solution, be my guest #}
                           	{% if field.label == 'Endpoint' %}
                           		Health outcome
                           	{% else %}
                           		{{ field.label }}
                           	{% endif %}
                        </td> 
                        <td>{{ field.value }}</td>
                    </tr>                    
                {% endif %}     
            {% endif %}                
        {% endfor %}
    </table>
</div>