{% load contains %}

<div class="{{ class }}">
    {% if title and not title == '' %}
        {{ title }}
    {% endif %}
    <table>
        {% for field in form %}
            {% if not title == "Study" and not field.name == 'study' and not field.name == 'id' or not field.name == 'id' %}
                {% if filtered == "True" %} 
                    {% if field.value|containedin:matchedValues %}
                        <tr class = "formfield {{ field.name }}">
                            <!-- <td class= "formspacer"></td> -->
                            <td>{{ field.name }}</td> 
                            <td>{{ field.value }}</td>
                        </tr>
                    {% endif %}     
                {% else %}
                    <tr class = "formfield {{ field.name }}">
                        <!-- <td class= "formspacer"></td> -->
                        <td>{{ field.name }}</td> 
                        <td>{{ field.value }}</td>
                    </tr>                    
                {% endif %}     
            {% endif %}                
        {% endfor %}
    </table>
</div>