<thead>
	<tr>
    {% if title == "Phenotype" %}
        <th>Phenotype name</th>
        <th>Intake data</th>
    {% endif %}
    {% if title == "Genotype" %}
        <th>Gene name</th>
        <th>Snp ref</th>
        <th>Snp variant</th>
        <th>Snp name</th>
        <th>Allele</th>
        <th>Mutation</th>
        <th>Zygosity</th>
        <th>Number of people with genotype</th>
        <th>Frequency</th>
        <th>Estimated overall frequency</th>
        <th>Genotype details</th>
    {% endif %}
    {% if title == "Panel" %}
        <th>Panel description</th>
        <th>No. of participants</th>
        <th>Gender</th>
        <th>Mean age</th>
        <th>Additional age description</th>
    {% endif %}
    {% if title == "Interaction" %}
        <th>Genotype</th>
        <th>Phenotype</th>
        <th>Panel</th>
        <th>Statistical model</th>
        <th>p Value for interaction</th>
        <th>p Value for trend</th>
        <th>Ratio type</th>
        <th>Ratio</th>
        <th>95% CI lower</th>
        <th>95% CI upper</th>
        <th>Significant associations</th>
    {% endif %}                
    {% if title == "Study" %}
        <th>Study id</th>
        <th>Pubmed id</th>
        <th>Year of publication</th>
        <th>Authors</th>
        <th>Micronutrient</th>
        <th>Population</th>
        <th>Gender</th>
        <th>Endpoint</th>
        <th>Paper title</th>
        <th>Journal title</th>
        <th>Study type</th>
        <th>Number of participants</th>
    {% endif %}                
	</tr>
</thead>