{% load contains %}

<div class="{{ class }}">
    {% if title and not title == '' %}
        {{ title }}
        {% if title == "Study" %}
            <span class="button">
                <a href="/studies/view/{{ form.id.value }}">
                    <img alt="View" 
                        src="{{ STATIC_URL }}images/icons/page.png">
                        View this study
                </a>    
            </span> 
        {% else %}
            <span class="button">
                <a href="/studies/view/{{ form.study_id.value }}">
                    <img alt="View" 
                        src="{{ STATIC_URL }}images/icons/page.png">
                        View related study
                </a>    
            </span> 
        {% endif %}
    {% endif %}
    <table>
        {% for field in form %}
            {% if not title == "Study" and not field.name == 'study_id' and not field.name == 'id' or not field.name == 'id' %}
                {% if filtered == "True" %} 
                    {% if field.value|containedin:matchedValues %}
                        <tr class = "formfield {{ field.name }}">
                            <!-- <td class= "formspacer"></td> -->
                            <td>{{ field.name }}</td> 
                            <td>{{ field.value }}</td>
                        </tr>
                    {% endif %}     
                {% else %}
                    <tr class = "formfield {{ field.name }}">
                        <!-- <td class= "formspacer"></td> -->
                        <td>{{ field.name }}</td> 
                        <td>{{ field.value }}</td>
                    </tr>                    
                {% endif %}     
            {% endif %}                
        {% endfor %}
    </table>
</div>