{% extends "portal.html" %}

<div id="views">
    {% block viewsblock %}
        {% block userlist %}
            <div id="userlist" class="contentItem">
                {% if user_list %} 
                    <b>User list</b>
                    <ul>
                    {% for item in user_list %}
                        <li><a href="/user/{{ user.id }}/">{{ item}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    No userlist available.
                {% endif %}
            </div>
        {% endblock userlist %}
        
        <div id="authorstuff" class="contentItem">
            <b>Authorstuff</b>
            {% block authorstuff %}
                <p>standard authorstuff!</p>
            {% endblock authorstuff %}
        </div>

        
        {% if author_list %}
            <div id="authorlist" class="contentItem">
                {% block authorlist %}
                    <b>Author list</b>
                    <ul>
                    {% for author in author_list %}
                        <li><a href="/author/{{ author.id }}/">{{ author.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endblock authorlist %}
            </div>
        {% endif %}
        
        
        <div id="bookstuff" class="contentItem">
            <b>Bookstuff</b>
            {% block bookstuff %}
                <p>standard bookstuff!</p>
            {% endblock %}
        </div>
        
        {% if book_list %}
            <div id="booklist" class="contentItem">
                {% block booklist %}
                <b>Book list</b>
                
                    <ul>
                    {% for book in book_list %}
                        <li><a href="/book/{{ book.id }}/">{{ book.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endblock booklist %}
            </div>
        {% endif %}
        
    {% endblock viewsblock %}
</div>