body { background-color: #f3f2f7; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
#container { position: relative; width: 95%; margin: 5px auto 0 auto; max-width: 1200px; min-width: 650px; }
a { color: black; }
a img { border-width: 0; }
.clear { clear: both; }

/* Default layout of forms */
.roundedcorners { 
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;          
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	border-width: 0;
	padding: 2px 4px;
}
input.roundedcorners:focus { outline-width: 0px; }
input.button { width: 60px; }
.requiredLabel:after { content: "*"; }

/* Header styles */
#header { padding: 0 20px;  }
h1 { float: left; margin: 0; padding: 0;}
form#login { float: right; padding-top: 6px;}
form#logout { float: right; padding-top: 6px;}

/* Main menu */
div#mainmenu { background-color: #adc376; padding: 0 20px; } /* #dd963b */
div#mainmenu ul.menu { list-style-type: none; margin: 0; padding: 0; }
div#mainmenu ul.menu li { display: inline-block; margin: 0 10px 0 0; line-height: 28px; height: 28px; vertical-align: middle; *display: inline; zoom: 1; }
div#mainmenu ul.menu li.home { padding-top: 4px; }
div#mainmenu li a { color: white; text-decoration: none; }
div#mainmenu ul.menu li.active a { color: black; text-decoration: underline; }

ul#searchMenu { float: right; list-style-type: none; margin: 0; padding: 0; }
ul#searchMenu li { display: inline-block; *display: inline; zoom: 1; padding-top: 4px; }

/* Content */
#content { background-color: white; padding: 12px 20px; min-height: 200px }
#pagetabs { border-width: 0; background-color: transparent; background-image: none; position: relative; }
#pagetabs.withcontextmenu { margin-right: 210px; }
#pagetabs .ui-tabs-panel { padding-left: 0; padding-right: 0; }
#pagetabs li a { margin: 4px; padding: 2px; vertical-align: middle; }
#pagetabs li a img { vertical-align: middle; }
#pagetabs li a span { vertical-align: middle; }


/* div.contentItem { background-color: #F8FFF0; display: block; float: left; margin: 5px; padding: 10px; } */
ul.searchResults { list-style-type: none; }

.ui-widget { font-size: 1em; }

/* Context menu */
#contextmenu { float: right; width: 190px; margin-left: 20px; margin-top: 2px; }
#contextmenu .header { background-color: #adc376; padding: 8px; }
#contextmenu ul { list-style-type: none; margin: 0; padding: 8px; }
#contextmenu ul li { margin: 4px 0; padding: 0; }
#contextmenu li a { text-decoration:none; }
#contextmenu li a img { vertical-align: middle; }
#contextmenu li a span { vertical-align: middle; }

/* Bugfix for tabs with floating elements next to it: http://bugs.jqueryui.com/ticket/5601 */
.ui-helper-clearfix:after { }
.ui-helper-clearfix {
        overflow: hidden; /* or auto */
        zoom: 1; /* required for ie hasLayout */
}

/* Footer */
#footer { border-top: 1px dotted #adc376; padding: 8px 0px 8px 12px; }

/* Autocomplete */
ul.ui-autocomplete { display: block; left: 56px; top: 41px; width: 151px; z-index: 1; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-top-left-radius: 4px; background-color: #FFFFFF; border: 1px solid #AAAAAA; color: #222222; float: left; list-style: none outside none; margin: 0; padding: 2px; cursor: default; position: absolute; }

/* User feedback messages */
div.positiveMessage { display: inline; background: url("/static/images/icons/accept.png") no-repeat scroll 0px 0px #F8FFF0; padding: 0px 0px 0px 20px; text-align: center; }
div.negativeMessage { display: inline; background: url("/static/images/icons/error.png") no-repeat scroll 0px 0px #ffcccc; padding: 0px 0px 0px 20px; text-align: center; }

/* Interaction form */
table.interactions { width: 100%; border-collapse: collapse; }
table.interactions caption { font-weight: bold; }
table.interactions tr.header { background-color: #ADC376; border-top-width: 0; }
table.interactions tr.header th { color: white; }
table.interactions tr { border-top: 1px solid #aaa; }
table.interactions th { border-right: 1px solid white; }
table.interactions th, table.interactions td { text-align: left; margin: 0; padding: 2px 6px; }
table.interactions td.buttons { width: 100px; }
table.interactions input.newVal { width: 100%; }

/* Small forms in study edit */
#fade_background { background-color: #F3F2F7; opacity: 0.6; z-index: 10; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none; }
td.form-active { background-color: #E4F7B2; z-index: 20; }
td.form-active .all { position: relative; z-index: 21; }

.interactions .editable_form_placeholder { position: relative; }
.interactions a { text-decoration: none; display: block; min-height: 20px; }

td.form-active .more_inputs { display: block; z-index: 22; }
.more_inputs { border: 1px solid black; display: none; padding: 5px; position: absolute; top: 32px; width: 350px; background-color: white; z-index: 10;  }
.more_inputs label { display: inline-block; width: 150px; *display: inline; zoom: 1; }
.more_inputs .invalid { background-color: #FFC9D7; }
input.invalid { background-color: #FFC9D7; }

/* Nice arrows above each form */
.more_inputs:before, .more_inputs:after { content: ' '; height: 0; position: absolute; width: 0; }
.more_inputs:before { top: -20px; left: 4px; border: 10px solid transparent; border-bottom-color: black; }
.more_inputs:after { top: -18px; left: 5px; border: 9px solid transparent; border-bottom-color: white; }

/* Buttons menu underneath the form */
form ul.buttons { list-style-type: none; margin: 0; padding: 8px; }
form ul.buttons li { margin: 4px 0; padding: 0; }
form ul.buttons a { text-decoration:none; }
form ul.buttons img { vertical-align: middle; }
form ul.buttons span { vertical-align: middle; }

/* Header of tables */
thead th { 
	border-bottom: 1px dotted #6A9403;
	text-align: left;
	color: #6A9403;
	font-weight: normal;
	padding: 2px 5px;
}

/* Alternating row colors */
.row1 { background-color: #F7FFE0; }
.row2 { background-color: #E5F0C9; }

/* Search result table */
table.searchresults td {
	margin: 0;
	padding: 5px;
	border-bottom: 2px solid white;
	border-right: 1px solid white;
	color: #333;
}
	
/* Tooltip */
.tooltip span {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    display:none;
    border: 1px dotted lightgray;
    color: #000000;
    background: none repeat scroll 0 0 lightgoldenrodyellow;
    /* background: none repeat scroll 0 0 seashell; */
    padding:2px 3px;
    margin-left:8px;
    font-weight: normal;
}

.tooltip:hover span{
    display:block;
    position:absolute;
}

/* Cancel special tooltip features for spans within the tooltip span */
.tooltip span span {
    border-width: 0; display: inline;
	box-shadow: none;    
	background-color: transparent;
	padding: 0; margin: 0; width: auto;
	position: relative;
}

.tooltip:hover span span {
	position: relative;
}

/** Scrollable results within the autocomplete boxes (VAR-117) **/
.ui-autocomplete {
	max-height: 120px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 120px;
}

dl#faq dt { font-weight: bold; }
dl#faq dd { margin-bottom: 10px; }