body { background-color: #f3f2f7; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
#container { position: relative; width: 95%; margin: 5px auto 0 auto; max-width: 1200px; min-width: 650px; }
a { color: black; }
a img { border-width: 0; }
.clear { clear: both; }

/* Default layout of forms */
input.roundedcorners { 
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;          
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	border-width: 0;
	padding: 2px 4px;
}
input.roundedcorners:focus { outline-width: 0px; }
input.button { width: 60px; }

/* Header styles */
#header { padding: 0 20px;  }
h1 { float: left; margin: 0; padding: 0;}
form#login { float: right; padding-top: 6px;}
form#logout { float: right; padding-top: 6px;}

/* Main menu */
div#mainmenu { background-color: #adc376; padding: 0 20px; } /* #dd963b */
div#mainmenu ul.menu { list-style-type: none; margin: 0; padding: 0; }
div#mainmenu ul.menu li { display: inline-block; margin: 0 10px 0 0; line-height: 28px; height: 28px; vertical-align: middle;}
div#mainmenu ul.menu li.home { padding-top: 4px; }
div#mainmenu ul.menu li a { color: white; text-decoration: none; }
div#mainmenu ul.menu li.active a { color: black; text-decoration: underline; }

form#searchform { padding-top: 4px; }
ul#searchMenu { float: right; list-style-type: none; margin: 0; padding: 0; }
div#advancedSearch{ float: right; }

/* Content */
#content { background-color: white; padding: 12px 20px; }
div.contentItem {
    background-color: #F8FFF0;
    display: block; 
    float: left;
    margin: 5px;
    padding: 10px;
}
ul.searchResults {
    list-style-type: none
}

/* Footer */
#footer { border-top: 1px dotted #adc376; padding: 8px 0px 8px 12px; }

/* Autocomplete */
ul.ui-autocomplete {
    display: block;
    left: 56px;
    top: 41px;
    width: 151px;
    z-index: 1;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
    cursor: default;
    position: absolute;
}

/* User feedback message styling */
div.positiveMessage { display: inline; background: url("/static/images/icons/accept.png") no-repeat scroll 0px 0px #F8FFF0; padding: 0px 0px 0px 20px; text-align: center; }
div.negativeMessage { display: inline; background: url("/static/images/icons/error.png") no-repeat scroll 0px 0px #ffcccc; padding: 0px 0px 0px 20px; text-align: center; }